<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">


</head>

<body>

    <!-- header -->
    {% from "macro/header.html" import header %} {{header(slogan)}}

    <div class="main">
        <div class="container">
            <!-- panel -->
            {% from "macro/panel.html" import panel %} {% for key in meta_data%} {{ panel(key, meta_data[key]) }} {% endfor %}

            <!-- pagination -->
            {% from "macro/pagination.html" import page %} {{ page(pagination,"/tag/" + title) }}
        </div>

    </div>

    <!-- footer -->
    {% from "macro/footer.html" import footer %} {{footer()}}

</body>

</html>