{% macro footer() -%}
<footer>
    <div class="footer">
        <div class="text">
            互联网ICP备案：<a href="http://www.beian.miit.gov.cn/" target="_blank">鄂ICP备19027833号-1                  </a>
        </div>
        <div class="text">
            公安联网备案：
            <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42011102003698" target="_blank"><img src="../static/beian.png" /> 鄂公网安备 42011102003698号</a>
        </div>
        <div class="text">
            <a href="http://www.hbjubao.com:1888/page/index.do" target="_blank">湖北互联网违法和不良信息举报平台</a>
        </div>
        <div class="text">
            网上有害信息举报专区：
            <a href="https://www.12377.cn/" target="_blank"> 中国互联网违法和不良信息举报中心</a>
        </div>
        <div class="support">lcl提供技术支持</div>
    </div>
</footer>
{%- endmacro %}